.cursor/**
.github/**
.vscode/**
.vscode-test/**
coverage/**
docs/**
jsm_pids/**
out/**
src/**
tools/**

.DS_Store
.env
.gitignore
TODO
esbuild.js
eslint.config.mjs
tsconfig.json
tsconfig.test.json
vitest.config.ts
